body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.cart {
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 5px;
}

.cart:hover {
  cursor: pointer;
  background-color: blanchedalmond;
  transition: all 0.5s ease-in;
}
